.navbar{
    width: 100% ;    
    margin: 32px 75px 0;
    display: grid;
    grid-template-columns: 200px, 300px, 500px;
    padding: 0 !important;
    z-index: 1;
    
}
.navbar i{
    font-size: 1.5rem;
    color: var(--color-icon);
}
.icon__service{
    display: flex;
    flex-direction: column;
    text-align: right;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
}
.icon__service strong{
    color: #000;
}
.icon__service small{
    font-weight: 300;
    letter-spacing: 0;
    color: var(--color-icon);
}

.nav__links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin:0 240px  0 0;
    padding: 0;
}
.nav__links li{
    list-style: none;
}
.nav__links a{
    text-decoration: none !important;
    color: var(--color-second) ;
    font-weight:500 ;
    transition: .5s ease all;   
}
.active{
    color: var(--color-primary) !important;
    background: var(--color-icon);
    padding: 10px;
    border-radius: 10px;

}